.hero{
    padding-top:50px;
}
img{
    width:100%;
}
.siteLink{
    font-size:14px;
    width:200px !important;
    margin-top:75px;
}
.siteLink:hover{
    color:white !important;
}
.underline{
    margin-bottom:50px;
    font-size:48px;
}

 .imgContainer img:hover{
transform:scale(1.1);
transition-duration: .8s;
}
.imgContaine img{
    transition-duration: .8s;
}
@media(max-width:767px){

    .siteLink{
        margin-top:20px;
        padding-bottom:20px;
    }
    .underline{
        margin-bottom:50px;
        font-size:36px;
    }
}